<%- include("header") -%>

<h2>About</h2>

<p>Welcome to the About page of this To Do List project.
  <br>
  If you like the project and want to check out the source code, please click on the footer name smyjt to get redirected to my Github page.
  <br>
  Thank you for visiting!
</p>

<%- include("footer") -%>
